.header{
  background-color: black;
  height:200px;
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 25px;
}
.header > p{
  color: #909294;
  font-size:20px;
  margin-top:1px;
}

.footer{
  background-color: black;
  color:white;
  height: 150px;
  text-align: center;
  padding-top: 50px;
}


.middle{
  display:flex;
  flex-wrap: wrap;
  margin-top:70px;
  margin-bottom:70px;
}